body{
    margin-top: 10px;
    margin-bottom: 10px;

    margin-right: 4%;
    margin-left: 4%;

    background-color: #0d3349;
}

.container-fluid{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.img-container{
    overflow: auto;
}


h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title
{
    text-align: center;
}

div.sfondo
{
    background-color: rgb(137, 179, 123);
}

div.header
{
    border: 1px solid black;
}

div.body
{
    border-left: 1px solid black;
    border-right: 1px solid black;

    min-height: 480px;
}

 div.footer
{
    border: 1px solid black;

     border-bottom-right-radius: 30px;
     border-bottom-left-radius:  30px;
}

div.menu
{
    text-align:             center;
    border-bottom:          1px solid;
    border-left:            1px solid;
    border-right:           1px solid;
}

tr.tableOdd
{
background-color : #4dabab;
opacity : 0.7;
}

tr.tableEven{
    background-color : #00ab00;
    opacity : 0.7;
}