/* 
    Document   : valerioVaudiSyle
    Created on : 20-ago-2011, 19.15.55
    Author     : valerio
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.ClearFloat{
    clear: both;
}

.main{
    background-color:     darkseagreen; 
    border-left:          1px solid;
    border-right:         1px solid;
}

.Container{ 
    min-height:           920px;  
    
    padding-top:          4px;
    
    text-align:           justify;
}

div.navigatorePagine{  
    padding-left:         4px;
    padding-right:        4px;
    
    text-align:           center;
}
div.GenericContainer{
    padding-top:          4px;
    
    text-align:           justify;
}

#Copyright{
    
/*    margin-left:  4%; 
    margin-right: 4%;
    width: 92%;*/
    
    background-color:    darkseagreen; 
    border:              solid;
    border-bottom-width: 1px;
    border-left-width:   1px;
    border-right-width:  1px;
    border-top-width:    1px;
    
    text-align:          center;
    
    text-decoration:     underline;
    text-transform:      capitalize;
    
    border-bottom-right-radius: 30px;
    border-bottom-left-radius:  30px;
}
#Heder{

/*    margin-left: 4%; 
    margin-right: 4%;
    width: 92%;*/

    height: 120px;
    background-repeat:   no-repeat;
    background-color:    white;
    min-height:          120px;

    border: solid;
    border-bottom-width: 1.0px;
    border-left-width:   1.0px;
    border-right-width:  1.0px;
    border-top-width:    1.0px;
    text-align: center;
}

#Map{
    height:        480px; 
    width:         720px;
    margin-bottom: 15px;
}

div.Menu{
    
/*    margin-left: 4%; 
    margin-right: 4%;
    width: 92%;*/

    background-repeat:      repeat;
    
    text-align:             center;
    border-bottom:          1px solid;
    border-left:            1px solid;
    border-right:           1px solid;
}

div.Menu ul{
    margin:                0px;
    padding:               0px;
} 

div.Menu li a{
    background-repeat:      repeat;
    background-position:    center;
    
    text-decoration: none;
    padding-left:    25px;
    padding-right:   25px;
    text-transform:  uppercase;
    font-weight:     bolder;
    color:           black;

    border-radius:  30px;
}

div.Menu li a:hover,
div.Menu li a:focus,
div.Menu li a:active{
    border-bottom: 3px solid steelblue;
    color:         darkred;
}

div.Menu li{
  /*border-left: 2px dotted greenyellow;*/
  display: inline; 
}

div.Menu li.ultimo{
 /* border-right: 2px dotted greenyellow;*/
}

img.ImmagineDx{
    float:          right;
    
    margin-left:    8px;;
    margin-bottom:  5px;
    
    border:         1px solid;  
}

img.ImmagineSx{
    float:          left;
    
    margin-right:   8px;;
    margin-bottom:  5px;
    
    border:         1px solid;     
}

div.BoxSx{
    float:          left;
    
    margin-right:   8px;;
    margin-bottom:  5px;
  
}
div.Didascalia h1{
    margin-top:    1px;
    margin-bottom: 1px;
}

div.BoxSx.ImmagineSx{
    border:         1px solid;     
}

h7.citazioni {
font-size: xx-small;
}
p,h1,h2,h3,h4,h5,h6,h7{
    margin-top:    5px;
    padding-left:  5px;
}
h1.Titolo{
    text-align: center;
}
p.TestoGiustificato{
    text-align: justify;
}
div.Didascalia{
    width:              600px; 
    height:             200px;
    
    text-align:         justify;
    
    padding-top:        12px; 
    
    padding-left:       12px; 
    padding-right:      30px; 

/*    overflow:           hidden;*/
    
    background-image:   url("images/didascaliaAntica.jpg");
    
   background-repeat: no-repeat;

}
hr.Separatore{
    width: 100%; 
    background-color: black;
    height: 1px;
    border: 0px;
}